body {
  background-image: linear-gradient(to right, #cb9ea2, #5e3633);
}

.searchBox {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  transition: top 0.3s ease;
}

.submitted {
  margin-top: 500px;
}

.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color: #2f3640;
  background-image: url(../../assets/Icons/search.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 80%;
}

.searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  background-image: url(../../assets/Icons/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
}

.error {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2f3640;
  font-weight: 700;
}
